* {
    margin: 0;
    padding: 0;
}

.title1 {
    color: #7a6426;
    font-size: 28px;
    font-family: 'Playfair Display', "Times New Roman", Times, Baskerville, Georgia, serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 10px;
}


.map iframe {
    width: 100%;
    height: 300px;
    margin-top: 30px;
}

.map h4 {
    text-transform: none;
}

.contacts {
    margin: 30% 0;
    padding-right: 10%;
}

.contacts a {
    text-decoration: none;
}


#contact-section {
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
    width: 100%;
    padding-bottom: 2%;
    margin-top: 5%;
}

#contact-section .contact-form h2 {
    font-size: 1.5em;
    text-align: center;
    width: 80%;
    padding-bottom: 3%;
    padding-top: 20px;
    color: #000;
    letter-spacing: 3px;
    margin-top: 7%;
}

#contact-section .contact-form p {
    font-size: 20px;
    text-align: center;
    padding-bottom: 3%;
    color: #000;
    letter-spacing: 3px;
    margin-top: 3%;
    color: red;
}

.contact-form {
    padding-left: 10%;
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.contact-form p {
    text-decoration: underline;
}

.contact-form {
    display: grid;
    grid-template-columns: auto auto;
}

.form-info {
    font-size: 18px;
    font-style: italic;
    color: black;
    letter-spacing: 2px;
}

input,
textarea {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 70%;
    background-color: rgba(136, 133, 133, 0.5);
    color: black;
    border: none;
    outline: none;
}

input::placeholder {
    color: black;
}

textarea::placeholder {
    color: #000;
}

#email {
    margin-left: 45px;
}

.submit {
    cursor: pointer;
    margin-left: 57%;
    width: 30%;
    background-color: rgb(190, 190, 190);
    letter-spacing: 2px;


}

.submit:hover {
    cursor: pointer;
    color: #fff;
    font-size: 17px;
    background-color: rgb(164, 157, 157);
}

label {
    font-size: 20px;
}