* {
    margin: 0;
    padding: 0;
}

.title1 {
    color: #7a6426;
    font-size: 28px;
    font-family: 'Playfair Display', "Times New Roman", Times, Baskerville, Georgia, serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}


.container1 .heading {
    width: 50%;
    padding-bottom: 50px;
}

.container1 .heading h3 {
    font-size: 2em;
    font-weight: bolder;
    padding-bottom: 10px;
    overflow-wrap: break-word;
    color: #7a6426;
}

.container1 .heading span {
    font-weight: 100;
    color: #000;
    font-size: 25px;
}

.container1 {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px 70px 0 70px;
}

.box {
    display: flex;
    margin-left: 3%;
}

.box .dream {
    width: 95%;
}

.box .dream img {
    width: 90%;
    padding-bottom: 30px;
    border-radius: 15px;
}

.box a{
    text-decoration: none;
    color: #fff;
}

.prices {
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    width: 55%;
    margin: 0 auto;
    font-size: 1.2em;
    overflow-wrap: break-word;
}

.content1 {
    padding: 15px;
    margin-bottom: 70px;
    line-height: 35px;
}

img {
    position: relative;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

img:hover {
    opacity: 0.3;
}


button{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 15px 60px 10px 75px;
    margin-bottom: 4%;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    font-style: italic;
    max-width: 70%;
    color: #fff;
    margin-bottom: 20px;
  
  }
  button:after{
    content: "";
    background-color: #333;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  button:hover:after {
    top: 0px;
    left: 0px;
  }

  .dream {
    position: relative;
    width: 50%;
  }

  .middle {
    transition: .5s ease;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  
  .dream:hover .middle {
    opacity: 1;
  }